[submodule "lib/AsyncTCP"]
	path = lib/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/PageBuilder"]
	path = lib/PageBuilder
	url = https://github.com/Hieromon/PageBuilder.git
[submodule "lib/AutoConnect"]
	path = lib/AutoConnect
	url = https://github.com/Hieromon/AutoConnect.git
